__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.venv/
venv/
dist/
build/

# SQLite local data
data/rpipulse.sqlite
data/*.sqlite

# SQLite WAL/SHM
data/*.sqlite-wal
data/*.sqlite-shm
data/*.sqlite-journal
data/*.sqlite-*
